#hero {
  background-image: url(../img/hero.webp);
}
#card {
  background-color: white;
  height: 220px;
  width: 200px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
  position: relative; /* For absolute positioning of inner elements */
}

#card:hover {
  background: linear-gradient(to bottom right, #edf9ff, white);
}
#project {
  background-color: #e8f2ff;
  background-image: url(../img/featured-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
